<%= form_with(model: roomtype) do |form| %>
<% if roomtype.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(roomtype.errors.count, "error") %> prohibited this roomtype from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% roomtype.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :room_class_id, class: label_class %>
          <%= form.text_field :room_class_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :description, class: label_class %>
          <%= form.text_field :description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :room_size, class: label_class %>
          <%= form.number_field :room_size, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :price_per_night, class: label_class %>
          <%= form.text_field :price_per_night, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if roomtype.persisted? %>
<%= link_to "Cancel", roomtype, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", roomtypes_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
