<div id="<%= dom_id roomtype %>">
  <p>
    <strong>Name:</strong>
    <%= roomtype.name %>
  </p>

  <p>
    <strong>Room class:</strong>
    <%= roomtype.room_class_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= roomtype.description %>
  </p>

  <p>
    <strong>Room size:</strong>
    <%= roomtype.room_size %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= roomtype.price_per_night %>
  </p>

</div>
