<div id="<%= dom_id booking %>">
  <p>
    <strong>Booking no:</strong>
    <%= booking.booking_no %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= booking.customer_id %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= booking.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= booking.check_out_date %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= booking.room_type_id %>
  </p>

  <p>
    <strong>Room number:</strong>
    <%= booking.room_number %>
  </p>

  <p>
    <strong>Num of nights:</strong>
    <%= booking.num_of_nights %>
  </p>

  <p>
    <strong>Num of adults:</strong>
    <%= booking.num_of_adults %>
  </p>

  <p>
    <strong>Num of children:</strong>
    <%= booking.num_of_children %>
  </p>

  <p>
    <strong>Required services:</strong>
    <%= booking.required_services %>
  </p>

</div>
