<div id="<%= dom_id payment %>">
  <p>
    <strong>Booking:</strong>
    <%= payment.booking_id %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= payment.paid %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method_id %>
  </p>

  <p>
    <strong>Pay time:</strong>
    <%= payment.pay_time %>
  </p>

</div>
